{% extends "template.html" %}
{% block content %}
  <div class="jumbo">
    <h2>What are your interests?</h2>
    <form role="form" method="post">
      dancing <input type="checkbox" name="1" maxlength="5"></br>
      football <input type="checkbox" name="2" maxlength="5"></br>
      art <input type="checkbox" name="3" maxlength="5"></br>
      music <input type="checkbox" name="3" maxlength="5"></br>
      <button type="submit">Find a Friend</button>
    </form>
    </br>
    <p>Click <a href="/welcome">here</a> to go the welcome page</p>
  </div>
{% endblock %}